<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <header>
            Aplikasi Manajemen kiriman
        </header>
        <div class="container">
            <aside>
                <ul class="menu">
                    <li><a href="dashboard.html" class="aktif">Dashboard</a></li>
                    <li><a href="tabel.html">Data kiriman</a></li>
                    <li><a href="tabel.html">Data Jabatan</a></li>
                    <li><a href="login.html">Keluar</a></li>
                </ul>
            </aside>
            <section class="main">
                <h2 class="judul">Data kiriman</h2>
                <a class="tombol" href="form.html">Tambah</a>
                <table class="table">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Foto</th>
                            <th>Nama</th>
                            <th>Jenis Kelamin</th>
                            <th>Tanggal Lahir</th>
                            <th>Jabatan</th>
                            <th>Keterangan</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><img src="images/tedy.jpg" width="100"></td>
                            <td>Tedy Syahbana</td>
                            <td>L</td>
                            <td>9 Juli 2015</td>
                            <td>Direktur</td>
                            <td>-</td>
                            <td>
                                <a class="tombol edit" href="#"> Edit </a>
                                <a class="tombol hapus" href="#"> Hapus </a>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
        <footer>
            Copyright &copy; Firmansyah
        </footer>
    </body>
</html>